<!DOCTYPE html>
<html>
<head>
    <title>Simple Blog</title>
</head>
<body>
    <h1>Blog Posts</h1>

    <a href="/new">Create New Post</a>

    <ul>
        <% posts.forEach(function(post) { %>
            <li>
                <a href="/posts/<%= post.id %>">
                    <%= post.title %>
                </a>
            </li>
        <% }); %>
    </ul>
</body>
</html>